.game-overview-section{
    background-color: #efefef;

}

.game-overview-result{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.game-overview-section-container{
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

.game-overview-name{
    margin: 0;
}

.game-overview-attack{
    font-size: 40px;
    margin: 0;
}

.game-overview-vsmark{
    font-size: 30px;
}