html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p{
  color:#576871;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.white{
  color: white;
}

main{
  /* width: 90%; */
  margin: auto;
  background-color: #f5f5f5;
  max-width: 600px;
}
.header{
  height: 60px;
  width: 100%;
  /* background-color:#A5E3FA; */
  background-color: rgba(255, 255, 255, 1);
  color:#576871;
  /* position:fixed;
  top: 0;
  left: 0; */
  z-index: 10;
  max-width: 600px;
  margin: auto;
}



.header-inner{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right-first{
  margin-right: 20px;
}

.header-btn{
  background-color: #1976d2;
  padding: 10px;
  border-radius: 10px;
  color:rgba(255, 255, 255, 1);
}

.footer{
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  max-width: 600px;
  margin: auto;
}

.footer-inner{
  width: 90%;
  margin: auto;
}
.copy-light{
  margin-top: 30px;
}
.addgame{
  padding-bottom: 30px;
}

/* CircleGraph */
tspan{
}