.top-page{

}

.top-page .top-section{
    background-image: url("../../public/img/krys-amon-5H89cs68-nc-unsplash.jpg");
    background-size: cover;
    background-position: -300px;
    height: calc(100vh - 60px);
}

.top-page .top-section::before{
    content: '';
    /* ↓暗いオーバーレイを半透明で配置 */
    background-color: rgba(0, 0, 0, 0.4);
    /* ↓全体を覆うように配置 */
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    display: block;
    z-index: 0;
}

.top-page .top-section-container{
    height: auto;
    position: absolute;
    top: 40vh;
    margin: 0 20px;
    color: white;
    max-width: 560px;
}

.top-section-description{
    width: 100%;
}
.discriptions-section{
    padding-top: 40px;
    width: 100%;
}
.discription{
    height: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.discription:nth-child(2n){
    background-color: #F1F0F0;
}

.discriptions-section-title{
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.discription-item{
    width: 90%;
    margin: auto;

    height: auto;
}

.discription-title{
    font-size: 24px;
}

.discription-description{
    font-size: 16px;
    width: 100%;
    margin-bottom: 50px;
}

.discription-image{
    height: 10vh;
    width: auto;
}

.hide{
    display: none;
}

.login-modal{
    z-index: 100;
    position: fixed;
    top: calc((100vh - 70vh) / 2);
    left: calc((100vw - 280px) / 2);
}

.register-modal{
    z-index: 100;
    position: fixed;
    top: calc((100vh - 70vh) / 2);
    left: calc((100vw - 280px) / 2);
}

.closeModalButton{
    text-align: right;
    margin: 0;
}

.no_scroll{
    overflow: hidden;
}
