.home{
}
.home .top-section{
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#efefef;
}

.home .top-section-container{
    width: 90%;
    margin: auto;
}

.ratio-item{
    margin-bottom: 80px;
}
.ratio-title{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.ratio-value{
    font-size: 50px;
    margin: 0px;
}

.ratio-unit{
    font-size: 16px;
}

.pie-chart-item{
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 30px;
}

.pie-chart-title{
    margin: auto;
    margin-bottom: 60px;
    font-size: 18px;
    width: 90%;
}

.graph-chart-title{
    width: 90%;
    margin: 50px auto;
    font-size: 18px;
}

.graph-item{
    margin: auto;
    padding-bottom: 30px;
    margin-top: 100px;
    height: auto;
    width: 90%;
}

.game-overview-section-bottom{
    width: 90%;
    margin: auto;
}

.game-overview-section-time{
    margin-top: 30px;
}

.game-result-card-competitorname{
    overflow: hidden;
    white-space: nowrap;
}

.average-modal{
    z-index: 100;
    position: fixed;
    top: 100px;
    left: calc(10vw / 2);
    background-color: white;
    width: 90vw;
    border-radius: 20px;
    padding: 20px;
    height: auto;
}
.average-modal-open-btn{
    text-align: center;
    overflow: hidden;
}

.average-rate-title{
    margin-bottom: 30px;
}